*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*header css*/
header{
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.imgLogo{
    width: 216.19px; 
    height: 48px;
}

.ulHeader{
    display: flex;
    justify-content: space-between;
}

.liHeader{
    list-style-type: none;
    display: inline-block;
    margin: 40px;
}

/* main css */
main{
    background-color: rgb(255, 255, 255);
}

.container {
  background-color: #4D97E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
}

.containerDiv1{
    padding-left: 10%;
}

.containerDiv2{
    min-height: 300px; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 20%;
}

.imagemMain{
    width: 30vw;
}

.containerCard{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 15vw;
    height: 30%;
    background-color: aquamarine;
    transition: 1s;
}

.card:hover{
    cursor: pointer;
    width: 17vw;
    height: 35%;
}

/*footer css*/
footer{
    background-color: gray;
    position: absolute;
    height: 50%;
    width: 100%;
    max-width: 100%;
    
}

.containerFooter{
    background-color: gray;
    height: 50%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.listasFooter{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.ulFooter{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.liFooter{
    margin: 20px;
}

.tituloFooter{
    font-weight: bold;
    margin-bottom: 10px;
}

.pFooter{
    display: flex;
    justify-content: center;
    margin-top: 10.5%;
    
}

