*{
    margin: 0;
    padding: 0;
}

/*CSS HEADER MEDICO*/

header{
    background: linear-gradient(90deg, #FFC966, #ffffffff);
}

main{
  flex: 1;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.imgLogo {
  width: 216.19px;
  height: 48px;
}

/*CSS MAIN MEDICO*/

.containerMain {
  background-color: #ffffff;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerMainDiv1{
  width: 100%;
  height: auto;
  display: flex;
  background-color: red;
}

.containerMainDiv2{
  background-color: #FFC966;
  width: 100%;
  height: 50%;
  
}

.drop{
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  color: #aaa;
  font-family: sans-serif;
  cursor: pointer;
}


/*CSS FOOTER MEDICO*/

footer {
  background-color: #3C58A2;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.listasFooter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ulFooter {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

.liFooter {
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.liFooter:hover {
  color: #FFC966;
  font-size: 20px;
}

.tituloFooter {
  font-weight: bold;
  color: #FFC966;
}

.pFooter {
  background-color: #3C58A2;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  border-top: 5px solid white;
  color: white;
}